@import '_variables';
@import '_mixins';


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */

  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  @include range-thumb() {
    @include boxShadow($black, #0d0d0d);
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  @include range-track() {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    @include boxShadow($black, #0d0d0d);
    background: $darkblue;
    border-radius: 1.3px;
    border: $small_border;
  }

  &:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

    &::-webkit-slider-runnable-track {
      background: $lightblue;
    }

    &::-ms-fill-lower {
      background: $darkblue;
    }

    &::-ms-fill-upper {
      background: $lightblue;
    }
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    @include boxShadow($black, #0d0d0d);
  }


  &::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  @include fill-lower-upper(#2a6495, $darkblue) {
    border: $small_border;
    border-radius: 2.6px;
    @include boxShadow($black, #0d0d0d);
  }
}