@mixin theme($primary-color, $rotate: 120deg, $darkenpct: 20%) {
    $other-color: adjust-hue($primary-color, $rotate);
    $other2-color: adjust-hue($primary-color, 180deg);
    $secondary-color: adjust-hue($primary-color, -$rotate);

    .btn-primary {
        background-color: $primary-color;
        border-color: darken($primary-color, 20%);
        &:hover {
            background: lighten(saturate($primary-color, 20%), 10%);
        }
    }

    .btn-secondary {
        background-color: darken($secondary-color, $darkenpct);
        border-color: darken($secondary-color, 20%);
        &:hover {
            background: lighten(saturate($secondary-color, 20%), 10%);
        }
    }

    .btn-other {
        background-color: darken($other-color, $darkenpct);
        border-color: darken($other-color, 20%);
        &:hover {
            background: lighten(saturate($other-color, 20%), 10%);
        }
    }

    .btn-other2 {
        background-color: darken($other2-color, $darkenpct);
        border-color: darken($other2-color, 20%);
        &:hover {
            background: lighten(saturate($other2-color, 20%), 10%);
        }
    }
}
